/* Navigation Bar */

.container-fluid .navbar {
    padding: 0 0 4.5rem;
}

.container-fluid .navbar {
    padding-bottom: 0;
}

.nav-item {
    padding: 0 18px;
}

 .nav-link {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

div .signupbtn {
    background-color: #fd8a10;
    border: #fd8a10;
    width: 120px;
    font-size: 13px;
    font-weight: bold;
}

div .loginbtn {
    font-weight: bold;
    font-size: 14px;
}

div .signupbtn:hover {
    background-color: #a35807;
} 

.container-fluid ul {
    margin-bottom: 0;
}

#carouselsec button {
    margin-bottom: 35px;
    background-color: #fd8a10;
    border: #fd8a10;
    border-radius: 0;
}

#carouselsec button:hover {
    background-color:#a35807;
    border: #a35807;

}

#leaf .container-fluid {
    position: relative;
}

#leaf .container-fluid img {
    position: absolute;
    left: 45%;
    top: -18%;
    width: 10%;
    height: auto;
}



@media only screen and (max-width: 364px) {
    #carouselsec button {
        margin-bottom: -10%;
    }


} 

@media only screen and (min-width: 500px) and (max-width: 766px) {
    #leaf .container-fluid {
        position: relative;
    }
    
    #leaf .container-fluid img {
        position: absolute;
        left: 45%;
        top: -13%;
    }
} 

@media only screen and (min-width: 320px) and (max-width: 500px) {
    #leaf .container-fluid {
        position: relative;
    }
    
    #leaf .container-fluid img {
        position: absolute;
        left: 45%;
        top: -8%;
    }
} 

@media only screen and (max-width: 767px) {
    .nav-link {
        font-size: 12px;
        text-align: center;
    }

    #leaf .container-fluid {
        padding: 8% 15% 7% !important; 
    }

    #leaf h2 {
        padding: 0 15% 3% !important;
    }

    #signup .div1 {
        padding: 8% 10% 0.5% !important;
    }

    #signup .div2 {
        padding-left: 10% !important; 
        padding-right: 10% !important;
    }

    footer .imgdiv2 img {
        width: 100px !important;
    }

    #intuitive .div1int {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #colreverse .row {
        display: flex;
        flex-flow: column-reverse;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    #leaf .container-fluid {
        padding: 8% 26% 7% !important;
    }

    #leaf h2 {
        padding: 0 17% 3% !important;
    }

    #signup .div1 {
        padding: 8% 20% 0.5% !important;
    }

    #signup .div2 {
        padding-left: 20% !important; 
        padding-right: 20% !important;
    }

    footer .imgdiv2 img {
        width: 120px !important;
    }
}

@media only screen and (max-width: 576px) {
    .nav-link {
        background-color: #f6f6f6;
    }
    .nav-link:hover {
        background-color: #7aef44;
    }
}

#signup .btncreate {
    background-color: #fd8a10;
    border: #fd8a10;
    border-radius: 0;
    width: 200px;
    height: 45px;
}

#signup .btnlogin {
    width: 200px;
    height: 45px;
    border-radius: 0;
}

#signup button {
    font-size: 18px;
}

#signup .btncreate:hover {
    background-color: #a35807;
}